@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/*
 * Elements:
 * Base - Backgrounds
 * Overlay
 *
 * Main Colors:
 * Primary, Secondary, Tertiary, Accent Primary, Accent Secondary, Invert Primary, Invert Secondary
 *
 * Other Colors:
 * Success, Warning, Error, Info, Disabled, Text Primary, Text Secondary, Text Tertiary, Text Accent Primary, Text Accent Secondary, Text Invert Primary, Text Invert Secondary
*/
:root {
  /* #09090b */
  --background-primary: 9, 9, 11;
  /* #101013 */
  --background-primary-hover: 16, 16, 19;
  /* #18181b */
  --background-secondary: 24, 24, 27;
  /* #202023 */
  --background-secondary-hover: 32, 32, 35;
  /* #27272a */
  --background-tertiary: 39, 39, 42;
  /* #4f46e5 */
  --background-accent-primary: 79, 70, 229;
  /* #5f52f2 */
  --background-accent-primary-hover: 95, 82, 242;
  /* #304f9f */
  --background-accent-secondary: 48, 79, 159;
  /* #3e58a8 */
  --background-accent-secondary-hover: 62, 88, 168;

  /* #18181b */
  --border-primary: 24, 24, 27;
  /* #232326 */
  --border-secondary: 35, 35, 38;
  /* #303033 */
  --border-tertiary: 48, 48, 51;

  /* #e5e5e5 */
  --text-primary: 229, 229, 229;
  /* #92929d */
  --text-secondary: 146, 146, 157;
  /* #72727d */
  --text-tertiary: 114, 114, 125;
  /* #a1a1aa */
  --text-tertiary-hover: 161, 161, 170;
  /* #8900f2 */
  --text-accent-primary: 137, 0, 242;
  /* #bc00dd */
  --text-accent-primary-hover: 188, 0, 221;
  /* #ff72d7 */
  --text-accent-secondary: 255, 114, 215;
  /* #ec7e93 */
  --text-accent-secondary-hover: 236, 126, 147;
  /* #000000 */
  --text-invert-primary: 0, 0, 0;
  /* #ffffff */
  --text-invert-secondary: 255, 255, 255;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(var(--background-primary));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}